:root {
    --orange: #CB4E0B;
    --white:#FFFFFF;
    --gray:#C1C4C8
}

body {
    background-color: #F2F6FA;
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

.container {
    padding: 0 1rem;
}




